
/* Je fais le choix du #white en position:relative pour qu'il soit le dernier parent positionné du #orange. Ainsi le #orange est plus facile à déplacer en position:absolue dans cet exemple */

#white {
    position : relative;
    width: 500px;
    height: 400px;
    padding: 9px;
}
#green {
    width: 480px;
    height: 280px;
    padding: 49px;
}
#blue {
    width: 380px;
    height: 180px;
    padding: 49px;
}
#orange {
    position: absolute;
    width : 80px;
    height : 80px;
    top: 300px;
    left: 180px;
}