#skyblue {
    width: 390px;
    height: 390px;
}
#green {
    width: 149px;
    height : 149px;
    top : 30px;
    left: 30px;
}
#blue {
    width: 149px;
    height : 149px;
    top : 60px;
    left: 60px;
    z-index: 2;
    opacity: 0.7;
}
#orange {
    width: 149px;
    height : 149px;
    bottom: 60px;
    right: 60px;
    z-index: 1;
}
#yellow {
    width: 149px;
    height : 149px;
    bottom: 30px;
    right: 30px;
}
