* {
    margin: 0px;
}
h1 {
    text-align: center;
}
.container {
    width: 90vw;
    height: 200vh;
    margin : 20px auto;
    padding: 20px;
    border: 1px solid black;
}

.menu {
    width : 150px;
    height: 180px;
    position : sticky;
    top : 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
    background-color: chocolate;
}
.menu > ul {
    list-style-type :none;
}
.menu > ul a {
    text-decoration: none;
    color: white;
}
p {
    position: relative;
    top: -220px;
    width: 500px;
    margin-left: 250px;
  }

footer {
    width : 100%;
    height : 5vh;
    position: fixed;
    bottom: 0px;
    color : white;
    text-align: center;
    line-height: 5vh;
    background-color: black;
}