
#white {
    position: relative;
    width: 500px;
    height: 400px;
}
#skyblue {
    position: absolute;
    width: 480px;
    height: 50px;
    top : 5px;
    left: 9px;
}
#green {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 140px;
    left: 140px;
}
#blue {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 30px;
    left: 30px;
}
#orange {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 125px;
    left: 125px;
}