
#white {
    width: 600px;
    height: 300px;
    padding: 9px;
}
#green {
    width: 480px;
    height: 280px;
    padding: 49px;
}
#blue {
    left: 100px;
    width: 380px;
    height: 180px;
}
#orange {
    width : 280px;
    height : 80px;
    right: 260px;
}