* {
    margin: 0px;
}
body {
    background-image: url(../img/bleach.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
}
h1 {
    text-align: center;
}
.container {
    width: 90vw;
    height: 200vh;
    margin : 20px auto;
    padding: 20px;
    border: 1px solid black;
}

.menu {
    width : 150px;
    height: 180px;
    position : sticky;
    float : left;        /*  Mise en float left pour que mon paragraphe ne se positionne pas en block en dessous de mon menu sticky */
    top : 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
    background-color: chocolate;
}
.menu > ul {
    list-style-type :none;
}
.menu > ul a {
    text-decoration: none;
    color: white;
}
p {
    width: 500px;
    margin-left: 350px;
    margin-top: 20px;
}

footer {
    width : 100%;
    height : 5vh;
    position: fixed;
    bottom: 0px;
    color : white;
    text-align: center;
    line-height: 5vh;
    background-color: black;
}

/* Oui je sais Rukia n'est pas très responsive et gène le texte derrière mais elle a fait un long voyage depuis la capitale de l'autre monde alors m***e, elle restera toujours visible !! */