
#white {
    width: 500px;
    height: 300px;
    padding: 9px;
}
#green {
    width: 480px;
    height: 280px;
    padding: 49px;
}
#blue {
    width: 380px;
    height: 180px;
    padding: 49px;
}
#orange {
    width : 280px;
    height : 80px;
}