#skyblue {
    position: absolute;
    width: 390px;
    height: 390px;
}
#green {
    position: absolute;
    width: 150px;
    height : 150px;
    top : 30px;
    left: 30px;
}
#blue {
    position: absolute;
    width: 150px;
    height : 150px;
    top : 30px;
    right: 30px;
}
#orange {
    position: absolute;
    width: 150px;
    height : 150px;
    bottom: 30px;
    left: 30px;
}
#yellow {
    position: absolute;
    width: 150px;
    height : 150px;
    bottom: 30px;
    right: 30px;
}
