#white {
    width: 525px;
    height: 450px;
    padding: 30px;
}
#green {
    float: left;
    width: 150px;
    height : 150px;
}
#blue {
    float: left;
    width: 150px;
    height : 150px;
}
#orange {
    width: 525px;
    height: 150px;
    clear: both;
}
#yellow {
    float: right;
    width: 150px;
    height : 150px;
    bottom: 30px;
    right: 30px;
}
#grey {
    float: right;
    width: 150px;
    height: 150px;
}