
#white {
    width: 500px;
    height: 400px;
}
#skyblue {
    width: 480px;
    height: 50px;
    top : 5px;
    left: 9px;
}
#green {
    width: 130px;
    height: 130px;
    top: 140px;
    left: 140px;
}
#blue {
    width: 70px;
    height: 70px;
    top: 29px;
    left: 29px;
}
#orange {
    width: 70px;
    height: 70px;
    top: 125px;
    left: 125px;
}