
#white {
    width: 570px;
    height: 320px;
    padding: 10px;
}
#green {
    width: 480px;
    height: 280px;
}
#blue {
    top: 49px;
    left: 148px;
    width: 380px;
    height: 180px;
}
#orange {
    width : 280px;
    height : 80px;
    top: 49px;
    right: 220px;
}