/*
- Lorsqu'une propriété est suivie de "!important" => poids = infini
- element comme "div" => poids = 1
- une classe ".paragraphe" ou un sélecteur d'attribut "[data-test]" => poids = 10 
- id "#paragraphe1" => poids = 100
*/

/*  Infini  */
[data-test="test2"] {
  background-color: yellow !important;
}

/*  poids = elt + classe = 1 + 10 = 11 */
div.paragraphe {
  background-color: purple;
}

/*  100  */
#paragraphe1 {
  background-color: aqua;
}

/* 10 */
.paragraphe {
  background-color: orange;
}

/* 10 */
[data-test="test"] {
  background-color: brown;
}

/* 10 + 10 */
.paragraphe.test {
  background-color: tomato;
}

/* ------------------------------- */
/* 1 */
li {
  color: blue;
}

/* 11 */
li.vert {
  color: green;
}

[name="ha"] {
  color: orange;
}

/* 100 */
#rose {
  color: pink;
}