* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.boite {
    width: 400px;
    height: 300px;
    background-color: aquamarine;
    border: 1px solid black;
    margin : 40px;
    padding: 0px;
}
.boite1 {
    width : 380px;
    height: 280px;
    background-color: green;
    border: 1px solid black;
    margin:0px;
}